p {
  color: black;
}
body {
  background-color: #08afe7;
  font-family: Courier New;
  font-size: 30px;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo {
  color: #ad067b;
  text-align: center;
  margin-bottom: 20px;
}
.texto {
  font-size: 18px;
  color: #0de768;
  margin-bottom: 15px;
}
.caja {
  background-color: #95b535;
  border: 5px solid #42c22c;
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
}
.enlace {
  color: #fe3700;
  text-decoration: none;
  font-size: 16px;
}

.enlace:hover {
  color: #2f0da9;
}
.caja {
  display: block;
}

